/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require foundation_and_overrides
 *= require foundation-icons
 *= require token-input
 *= require_tree .
 *= require_self
 */

.tag {
  color: white;
  background-color: #008cba;
  border: 1px solid #008cba;
  border-radius: 5px;
}

.tag-cloud {
  margin-bottom: 1rem;
  line-height: 2.5rem;

  a {
    margin-right: 0.5rem;
    padding: 0.2rem 0.5rem;
  }

  a:visited {
    color: white;
  }

  .css1 {
    font-size: 1.0rem;
  }

  .css2 {
    font-size: 1.2rem;
  }

  .css3 {
    font-size: 1.4rem;
  }

  .css4 {
    font-size: 1.6rem;
  }
}

div.token-input-dropdown-facebook {
  font-family: inherit;
}

ul.token-input-list-facebook {
  margin-bottom: 1rem;
  width: 100%;
  padding: 0 4px;
  font-family: inherit;

  li input {
    width: 100%;
    padding: 3px 4px;
  }

  li.token-input-input-token-facebook {
    input {
      width: 100% !important;
    }
  }

  li.token-input-token-facebook {
    margin-top: 6px;
    padding: 1px 6px;
    color: white;
    background-color: #008cba;
    border: 1px solid #008cba;

    p {
      font-size: 0.9rem;
      font-weight: bold;
    }

    span {
      position: relative;
      top: -6px;
      padding: 0 3px 0 8px;
      margin-left: 0;
      font-size: 1rem;
    }
  }

  input#token-input-skillTagList {
    box-shadow: none;
  }

  input#token-input-skillTagList:focus {
    background: none;
  }
}

.icon-bar > * {
  padding: 0 0 0.25rem 0;
}

small.error {
  margin-top: -1rem;
}

.row.full-width {
  max-width: 100%;
}

form {
  label {
    font-weight: bold;
    margin-bottom: 0.25rem;
  }

  input[type=text], textarea {
    font-size: 1rem;
  }

  .actions input[type=submit] {
    font-size: 1.2rem;
  }
}

